<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gr1616 -->
      <package
            uri="platform:/plugin/tdt4250.gr16nn.model/model/gr16nn.ecore"
            class="tdt4250.gr16nn.Gr16nnPackage"
            genModel="model/gr1616.genmodel"/>
   </extension>

</plugin>
